* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* --googlefonts-- */
    font-family: "Indie Flower", serif;


}
    

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
}

.container {
    max-width: 70%;
    height: fit-content;
    margin: auto;
    background: white;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(21, 35, 39) (0, 0, 0, 8);

}

.search-box input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cards{
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    align-items: center;
    height: fit-content;
   

}

.card {
    
    padding: 30px;
    border-radius: 10px;
    color: rgb(31, 20, 20);
    height: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-betwee;

}

.blue { background-color: #b0c4de; }
.pink { background-color: #f8c8dc; }
.beige { background-color: #f5d9c3; }

button {
    background: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: start;
   width: fit-content;

   
}

/* .footer-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

} */

.cards div {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cards a {
    color: rgb(19, 76, 151);
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;

}

.button{
    width: 100px;
    height: 10px;

}